<h1>Education Application</h1>
<div style="display: flex; ">
    <div>
    <h3>Featuring:</h3>
    <ul>
        <li>Spring Cloud Config</li>
        <li>Eureka Service Discovery</li>
        <li>Zuul API Gateway</li>
        <li>Hystrix Circuit Breaker</li>
        <li>OpenFeign Declarative HTTP Client</li>
        <li>Sleuth Tracing</li>
        <li>Angular UI</li>
        <li>Postgres Database</li>
    </ul>
    <h3>Coming Soon</h3>
        <ul>
            <li>OAuth2 with GitHub</li>
            <li>Monitoring</li>
        </ul>
    </div>
    <div>
        <h3>Functionalities:</h3>
        <ul>
            <li>View all students</li>
            <li>View a specific student's details</li>
            <li>Edit a student's details</li>
            <li>Delete a student</li>
            <li>Register a new student</li>
        </ul>
    </div>
</div>
