<mat-card class="registration-card">
    <mat-card-title>Sign Up</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
        <mat-form-field >
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
            <mat-error *ngIf="form.controls.name.errors && form.controls.name.touched">
                Please enter your name
            </mat-error>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required>
            <mat-error *ngIf="form.controls.email.errors && form.controls.name.touched">
                Please enter a valid email
            </mat-error>
        </mat-form-field>
        <!-- checkbox to allow next input for street address-->
        <mat-form-field >
            <mat-label>Phone ###-###-####</mat-label>
            <input matInput type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" formControlName="phone" required>
            <mat-error *ngIf="form.controls.phone.errors && form.controls.phone.touched">
                Please enter a valid phone number
            </mat-error>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Social Security Number</mat-label>
            <input matInput formControlName="ssn" required>
            <mat-error *ngIf="form.controls.ssn.errors && form.controls.ssn.touched">
                Please enter a valid Social Security number
            </mat-error>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Home Address</mat-label>
            <input matInput formControlName="street" required>
            <mat-error *ngIf="form.controls.street.errors && form.controls.street.touched">
                Please enter your street & building number
            </mat-error>
        </mat-form-field>
        <mat-form-field >
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
                <mat-option value="AL">Alabama</mat-option>
                <mat-option value="AK">Alaska</mat-option>
                <mat-option value="AZ">Arizona</mat-option>
                <mat-option value="AR">Arkansas</mat-option>
                <mat-option value="CA">California</mat-option>
                <mat-option value="CO">Colorado</mat-option>
                <mat-option value="CT">Connecticut</mat-option>
                <mat-option value="DE">Delaware</mat-option>
                <mat-option value="DC">District Of Columbia</mat-option>
                <mat-option value="FL">Florida</mat-option>
                <mat-option value="GA">Georgia</mat-option>
                <mat-option value="HI">Hawaii</mat-option>
                <mat-option value="ID">Idaho</mat-option>
                <mat-option value="IL">Illinois</mat-option>
                <mat-option value="IN">Indiana</mat-option>
                <mat-option value="IA">Iowa</mat-option>
                <mat-option value="KS">Kansas</mat-option>
                <mat-option value="KY">Kentucky</mat-option>
                <mat-option value="LA">Louisiana</mat-option>
                <mat-option value="ME">Maine</mat-option>
                <mat-option value="MD">Maryland</mat-option>
                <mat-option value="MA">Massachusetts</mat-option>
                <mat-option value="MI">Michigan</mat-option>
                <mat-option value="MN">Minnesota</mat-option>
                <mat-option value="MS">Mississippi</mat-option>
                <mat-option value="MO">Missouri</mat-option>
                <mat-option value="MT">Montana</mat-option>
                <mat-option value="NE">Nebraska</mat-option>
                <mat-option value="NV">Nevada</mat-option>
                <mat-option value="NH">New Hampshire</mat-option>
                <mat-option value="NJ">New Jersey</mat-option>
                <mat-option value="NM">New Mexico</mat-option>
                <mat-option value="NY">New York</mat-option>
                <mat-option value="NC">North Carolina</mat-option>
                <mat-option value="ND">North Dakota</mat-option>
                <mat-option value="OH">Ohio</mat-option>
                <mat-option value="OK">Oklahoma</mat-option>
                <mat-option value="OR">Oregon</mat-option>
                <mat-option value="PA">Pennsylvania</mat-option>
                <mat-option value="RI">Rhode Island</mat-option>
                <mat-option value="SC">South Carolina</mat-option>
                <mat-option value="SD">South Dakota</mat-option>
                <mat-option value="TN">Tennessee</mat-option>
                <mat-option value="TX">Texas</mat-option>
                <mat-option value="UT">Utah</mat-option>
                <mat-option value="VT">Vermont</mat-option>
                <mat-option value="VA">Virginia</mat-option>
                <mat-option value="WA">Washington</mat-option>
                <mat-option value="WV">West Virginia</mat-option>
                <mat-option value="WI">Wisconsin</mat-option>
                <mat-option value="WY">Wyoming</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.state.errors && form.controls.state.touched">
                Please select a state
            </mat-error>
        </mat-form-field>
        <mat-form-field >
            <mat-label>City</mat-label>
            <input matInput formControlName="city" required>
            <mat-error *ngIf="form.controls.city.errors && form.controls.city.touched">
                Please enter your city
            </mat-error>
        </mat-form-field>
        <mat-form-field >
            <mat-label>Zip Code</mat-label>
            <input matInput formControlName="zipcode" required>
            <mat-error *ngIf="form.controls.zipcode.errors && form.controls.zipcode.touched">
                Please enter a valid Zip Code
            </mat-error>
        </mat-form-field>
        <mat-form-field >
            <mat-label>School</mat-label>
            <mat-select formControlName="schoolid">
                <mat-option value="1">University of Minnesota</mat-option>
                <mat-option value="2">University of Georgia</mat-option>
            </mat-select >
        </mat-form-field >
        <button mat-raised-button color="primary" class="submit" type="submit" [disabled]="!form.valid" >Submit</button>
    </form>
</mat-card>